* {
	font-family : -apple-system, BlinkMacSystemFont, Oxygen-Sans, Ubuntu, Cantarell, Roboto,
       "Trebuchet MS", "Helvetica Neue", "Segoe UI", 
        Helvetica, Verdana, Arial, sans-serif;
}

header, footer, p {
    font-size: 16px;
}

header, footer, section {
    text-align: center;
}

header {
    background-color: aqua;
    padding: 0px 2rem 0px 2rem;
    width: calc(100% - 4rem);
}

main {
    background-color: bisque;
}

footer {
    background-color: burlywood;
    font-size: smaller;
}

section {
    background-color: darkgray;
    max-width: 80rem;
    margin: 0 auto;
}
